
include snippets.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="css/main.css", media="screen")
        link(type="text/css", rel="stylesheet", href="css/newsfeed.css", media="screen")
        title Social Media
    body
        include nav.pug
        .filler
        
        section          
            .content
                ul
                    li.status
                        p
                            span
                                i.material-icons speaker_notes
                                | Create Post
                        #postarea
                            .item
                                a(href="/profile")
                                    if (data.minimage)
                                        img(src="data:" + data.minimage.contentType + ";base64," + data.minimage.data)
                                    else
                                        img(src="/images/bdp.png")
                            .item
                                textarea(placeholder="Share your thoughts!")
                        .imgcon
                            img
                        input(type="file", accept="image/gif, image/jpeg, image/png")
                        p#posterr Error Message
                        #postprogress
                            .progress
                                .curr 0%
                        p#postbtn
                            span
                                i.material-icons add_a_photo
                                | Add Photo
                            span
                                i.material-icons person_add
                                | Tag Friends
                            span Post Status
                    
                    each p in posts
                        +posts(p)
                        
            .sidebar
                .inner
                    ul
                        li
                            .weather
                                .header
                                    .temp 33°
                                    .max-min
                                        span 30°
                                        span 35°
                                .body
                                    .msg Partly Sunny
                                    span Real Feel 67
                                    span Chances of rain
                                .footer
                                    .date Saturday, 27th April 2019
                                    .place Kolkata
                        li
                            
                        li
        
        include footer.pug