
include snippets.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="/css/main.css", media="screen")
        title Social Media
    body
        include nav.pug
        header
            .container
                .cover
                    if (frd.coverpic)
                        img(src="data:" + frd.coverpic.contentType + ";base64," + frd.coverpic.data)
                    else
                        img(src="/images/blank_cover.jpg")
                .options
                    #opt_lt
                        ul
                            li
                                a(href="/profile/" + frd.userName) Timeline
                            li
                                a(href="/profile/" + frd.userName + "/about") About
                            li
                                a.active Friends
                    #opt_rt
                        ul
                            li
                                a(href="#") Photos
                            li
                                a(href="#") Videos
                            li
                                a(href="#") Block
                    #control_block
                        if (stat == 1)
                            button(type="button") Already Friends
                            button#rmfd(type="button") Remove Friend
                            a(href="#") Message
                        else if (stat == 2)
                            button#accfd(type="button") Accept Friend Request
                        else if (stat == 3)
                            button(type="button") Friend Request Sent
                        else
                            button#addfd(type="button") Add Friend
                .photo
                    if (frd.image)
                        img(src="data:" + frd.image.contentType + ";base64," + frd.image.data)
                    else
                        img(src="/images/bdp.png")
                    span #{frd.firstName} #{frd.lastName}
        
        section#friends
            p.heading #{frd.firstName}'s Friends (#{frd.friends.accepted.length})
            ul
                each f in friends
                    +friends(f)

        include footer.pug
