
include snippets.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="/css/main.css", media="screen")
        title Social Media
    body
        include nav.pug
        header
            .container
                .cover
                    if (data.coverpic)
                        img(src="data:" + data.coverpic.contentType + ";base64," + data.coverpic.data)
                    else
                        img(src="/images/blank_cover.jpg")
                .options
                    #opt_lt
                        ul
                            li
                                a Timeline
                            li
                                a(href="/profile/about") About
                            li
                                a(href="/profile/friends") Friends
                    #opt_rt
                        ul
                            li
                                a(href="#") Photos
                            li
                                a(href="#") Videos
                            li
                                a(href="#") Block
                    #control_block
                        a(href="/Change-Profile-Picture") Change Profile Picture
                        a(href="/Change-Cover-Picture") Change Cover Picture
                .photo
                    if (data.image)
                        img(src="data:" + data.image.contentType + ";base64," + data.image.data)
                    else
                        img(src="/images/bdp.png")
                    span #{data.firstName} #{data.lastName}
        
        section#settings
            .sidebar
                .inner
                    ul
                        li
                            p.heading
                                span Profile Settings
                            a(href="/Personal-Settings") Personal Settings
                            a(href="/Account-Settings") Account Settings
                            a(href="/Change-Profile-Picture") Change Profile Picture
                            a(href="/Change-Cover-Picture").active Change Cover Picture
                        li
                            p.heading
                                span Friends Requests
                            a(href="#") Received Requests
                            a(href="#") Sent Requests
                        li
                            p.heading
                                span Notifications
                            a(href="#") All Notifications
            .content
                ul
                    li
                        p Change Cover Picture
                        #pfpic
                            input(type="file", accept="image/gif, image/jpeg, image/png")
                            .cvcon
                                img(src="/images/blank_cover.jpg")
                            p
                            .progress
                                .curr 0%
                            button(type="button") Change Picture
                            button(type="button") Upload Picture
                        
        include footer.pug
